.nav-button {
    border-radius: 4px;
    border: none;
    padding: 8px 16px;
    background-color: black;
    color: white;
    font-weight: bold;
}

.nav-button__highlighted{
    border-radius: 4px;
    border: none;
    padding: 8px 16px;
    background-color: #CE4E2E;
    color: white;
    font-weight: bold;
}

.nav-button:hover {
    cursor: pointer;
}

.nav-button:disabled {
    background-color: darkgray;
    cursor: not-allowed;
}

.nav-button + .nav-button {
    margin-left: 8px;
}