.button {
    border-radius: 4px;
    border: none;
    padding: 8px 16px;
    background-color: black;
    color: white;
    font-weight: bold;
}

.button--highlighted {
    border-radius: 4px;
    border: none;
    padding: 8px 16px;
    background-color: #CE4E2E;
    color: white;
    font-weight: bold;
}

.button--form {
    border-radius: 4px;
    border: none;
    margin: 28px 8px 16px 8px;
    padding: 8px 16px;
    background-color: #CE4E2E;
    color: white;
    font-weight: normal;
    width: 70%;
}

.button, .button--highlighted, .button--form:hover {
    cursor: pointer;
}

.button:disabled {
    background-color: darkgray;
    cursor: not-allowed;
}

.button + .button {
    margin-left: 8px;
}