.search-container {
    display: flex;
    flex-direction: row;
    width: 90%;
}

.searchbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}

.search-options {
    display: flex;
    justify-content: space-between; /*space-between;*/
    width: 100%;
    flex-wrap: nowrap;
}

.search-label {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 500;
    padding: 2px;
    width: 30%;
}

.search-buttons {
    display: flex;
    justify-content: flex-start;
}

.searchbar input {
    display: flex;
    border-radius: 2px 0 0 2px;
    border: none;
    padding: 6px 12px;
    outline: none;
    font-family: "Poppins", sans-serif;
    background-color: #e7e6f7;
}

select {
    padding: 6px 180px 6px 6px;

}
